# 模型融合(把自己的，和其他人的文件进行融合)

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
### 导入相应的库
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [2]:
### 读取相应的文件
sub0 = pd.read_csv('sub/submission.csv')
sub1 = pd.read_csv('sub/submission2.csv')
### sub2是最好的效果的文件
sub2 = pd.read_csv('sub/submission_h2o_full_final.csv.gz',compression='gzip')

In [3]:
sub1.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.763260,0.717274,0.727029,0.756704,0.923598,1.011478,1.136665,0.845237,0.851051,...,0.777039,0.953312,0.962921,0.815358,0.761302,0.729362,0.776458,0.876632,1.033270,0.948926
1,HOBBIES_1_002_CA_1_validation,0.196644,0.192200,0.187930,0.186495,0.229074,0.271282,0.299273,0.240589,0.226191,...,0.214910,0.232456,0.232837,0.200212,0.183966,0.189408,0.184634,0.201653,0.243422,0.256033
2,HOBBIES_1_003_CA_1_validation,0.446087,0.421797,0.418649,0.417754,0.572547,0.728140,0.757967,0.496502,0.497684,...,0.546400,0.691657,0.693565,0.450624,0.424399,0.449607,0.477559,0.602929,0.718985,0.682610
3,HOBBIES_1_004_CA_1_validation,1.652234,1.300526,1.358671,1.542014,1.927846,2.842460,3.146993,1.777409,1.492274,...,1.867993,2.637107,3.184695,1.698235,1.465439,1.449908,1.443776,2.042691,3.091052,3.347054
4,HOBBIES_1_005_CA_1_validation,0.952389,0.862560,0.877167,0.951067,1.069369,1.457583,1.514145,0.982738,0.980438,...,1.042083,1.585982,1.584269,1.071959,0.878661,0.975599,0.940957,1.099809,1.556994,1.508929

In [4]:
sub2.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HOBBIES_1_002_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,HOBBIES_1_005_CA_1_validation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# give different score with different weights

In [5]:
#### 给每个文件根据id重新排序，方便融合
sub0 = sub0.sort_values(by = 'id').reset_index(drop = True)
sub1 = sub1.sort_values(by = 'id').reset_index(drop = True)
sub2 = sub2.sort_values(by = 'id').reset_index(drop = True)
sub = sub1.copy()

### 按照权重进行融合，
for i in sub.columns :
    if i != 'id' :
        sub[i] = 0.035*sub0[i] + 0.065*sub1[i] + 0.91* sub2[i]

### 保存结果
sub.to_csv('submission666.csv', index = False)
sub.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_1_001_CA_1_evaluation,0.606094,0.517956,0.583057,0.585386,0.665485,0.916115,0.830155,0.734581,0.776983,...,0.744396,0.950711,0.900097,0.654123,0.671839,0.615799,0.627145,0.721756,0.911408,0.790599
1,FOODS_1_001_CA_1_validation,0.176053,0.088011,0.083958,0.087387,0.112721,0.154813,0.161875,0.104353,0.259067,...,0.187827,0.233781,0.149612,0.092118,0.085060,0.085448,0.116416,0.100214,0.112991,0.092080
2,FOODS_1_001_CA_2_evaluation,0.860947,0.813920,0.795034,0.859544,0.997278,1.196286,1.242618,1.003406,0.853246,...,0.922988,1.172183,1.167827,0.840981,0.833225,0.860471,0.863009,0.955024,1.264353,1.169791
3,FOODS_1_001_CA_2_validation,0.127245,0.245766,0.121880,0.115969,0.122133,0.190659,0.352554,0.131784,0.075900,...,0.185015,0.162528,0.160244,0.153346,0.162633,0.116987,0.126847,0.163500,0.224390,0.152747
4,FOODS_1_001_CA_3_evaluation,0.834783,0.762410,0.783380,0.767791,0.855316,1.021570,1.137382,0.948245,0.826374,...,0.954830,1.125435,1.149420,0.888933,0.797195,0.795133,0.791128,0.847217,1.029537,1.047680